<h1>Restaurant's details</h1>
<h2>Name : <%= @restaurant.name %></h2>
<h3>City : <%= @restaurant.address %></h3>
<h3>Food : <%= @restaurant.category %></h3>

<p><%= link_to "Back to all restaurants", restaurants_path %></p>

