<h1>Restaurant's reviews</h1>
<ul>
<% @restaurant.reviews.each do |review| %>
<li><%= review.content %></li>
<li><%= review.rating %></li>
</ul>

<p><%= link_to "Back to all restaurants", restaurants_path , class: 'btn btn-success' %></p>

